body {
  background-color:rgb(224, 139, 59);
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Press Start 2P';
}

.container {
  display: flex;
}
.gridContainer {
  background-color: white;
  height: 700px;
  width: 700px; 
  display: flex;
  flex-wrap: wrap;
  gap: 0px;
}
.toolsContainer {
  margin: 25px;
}
#grids {
  box-sizing: border-box;
  background-color: white;
  border: 0px none;
}

.toggle-on {
  background-color: #4e524e; 
  color: white;
}

footer {
  font-family: 'Press Start 2P';
  font-size: 12px;
}

#logo {
  transition: transform 0.8s ease-in-out;
  width: 35px; 
  height: 35px
}

#logo:hover {
  transform: rotate(360deg);
}