body {
  background-color:rgb(224, 139, 59);
  display: flex;
  justify-content: center;
}
.container {
  background-color: lightblue;
  height: 500px;
  width: 500px; 
  display: flex;
  flex-wrap: wrap;
  gap: 0px;
}

#grids {
  box-sizing: border-box;
  background-color: white;
  border: 0px none #ddd;
}

